<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=2">
</head>
<body>
<form method="POST" action="/save">
  <h2>Charging mode</h2>
  <p>
    <input type="radio" name="mode" value="normal"
      {% if pvmode == "normal" %}
        checked
      {% endif %}
    >Normal<br>
    <input type="radio" name="mode" value="pv"
      {% if pvmode == "pv" %}
        checked
      {% endif %}
    >Follow PV production<br>
    <input type="radio" name="mode" value="twcmanager"
      {% if pvmode == "twcmanager" %}
        checked
      {% endif %}
    >Use TWC Manager<br>
  </p>
  <p>
    Max charging amps: <input type="text" name="amps" size=2 value="{{ amps }}"> A
  </p>
  <p>
    <input type="submit" value="Save">
    <input type="reset" value="Reset">
  </p>
</form>
</body>
</html>
